USE [master]
GO
/****** Object:  Database [nyseDb]    Script Date: 6/09/2019 1:33:27 PM ******/
CREATE DATABASE [nyseDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nyseDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\nyseDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nyseDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\nyseDb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nyseDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nyseDb]
GO
/****** Object:  Table [dbo].[dailyPrices]    Script Date: 6/09/2019 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dailyPrices](
	[exchange] [nvarchar](255) NULL,
	[stock_symbol] [nvarchar](255) NULL,
	[date] [datetime] NULL,
	[stock_price_open] [float] NULL,
	[stock_price_high] [float] NULL,
	[stock_price_low] [float] NULL,
	[stock_price_close] [float] NULL,
	[stock_volume] [float] NULL,
	[stock_price_adj_close] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
